{:deps {org.clojure/clojure {:mvn/version "1.11.2"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {expectations/clojure-test {:mvn/version "RELEASE"}
                org.clojure/test.check {:mvn/version "RELEASE"}}}

  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :exec-fn cognitect.test-runner.api/test}}}
