{:deps {}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {expectations/clojure-test {:mvn/version "RELEASE"}
                org.clojure/test.check {:mvn/version "RELEASE"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
